/* Reset */

body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout */

.container {
  max-width: 750px;
  margin: auto;
  padding: 12px;
}

header {
  background: #ddd;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

p {
  margin: 12px 0 0 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

code {
  margin: 16px 0;
  padding: 8px;
  background: #ddd;
  display: block;
  word-wrap: break-word;
}

button {
  cursor: pointer;
  background: #ddd;
  padding: 4px 12px;
  border: none;
}

button:hover {
  background: #ccc;
}

/* Preview Page */

.preview {
  display: flex;
}

.preview__info {
  max-width: 400px;
}

.preview__img {
  min-width: 295px;
  min-height: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview__img > img {
  width: 250px;
  min-height: 250px;
  margin: 12px;
  border: 1px solid #333;
}

/* Loading Spinner */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}
