body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 12px;
}

header {
  background: #ddd;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

p {
  margin: 12px 0 0 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

code {
  display: block;
  margin: 16px 0;
  padding: 8px;
  background: #ddd;
  text-overflow: clip;
  overflow: auto;
}

button {
  cursor: pointer;
  background: #ddd;
  padding: 4px 12px;
  border: none;
}

button:hover {
  background: #ccc;
}

.preview {
  min-width: 295px;
  min-height: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview > img {
  width: 250px;
  margin: 12px;
}
